node_modules
dist
distcatalog
.vs
.vscode/*
!.vscode/launch.json
.cache
coverage
configuration/local.json
.webpack
out/
yarn-error.log
build/
.pnp/
.pnp.js
package-lock.json
.eslintcache
*.generated.*
test.cmd
upload.json
upload.zip
lambdaOutput.json
filesToUpload.json
*.tsbuildinfo
.needpush
public/htmlFragments.html
public/.appiconshash
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
